<div class="row">

  <div class="col-3" >

    <mat-selection-list [multiple]="false" class="filterList">
      
      <mat-list-option 
      selected=true  
      routerLink="/">
      All Catagory
      </mat-list-option>
      
      <mat-list-option 
      *ngFor="let c of catagoryList$ | async" 
      [value]="c.name" 
      routerLink="/" 
      [queryParams]="{catagory: c.name}">
      {{c.name}}
      </mat-list-option>

    </mat-selection-list>

  </div>

  <div class="col">
    <div class="row" *ngIf="cartData$ | async as cartData">
      
      <app-product-card *ngFor="let p of filteredList" [product]='p' [cart]='cartData'></app-product-card>
      
    </div>
  </div>

</div>
